################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/packages
/Test/Test/bin
/Test/Test/obj
/webpage.html
